@import "reset.css";

body{
    display: flex;
    --scale: 3;
}

h1{
    font-size: calc(12px * var(--scale));
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #a1a1a1;
    height: calc(25px * var(--scale));
    line-height: calc(25px * var(--scale));
    text-align: center;
}

h2{
    margin-bottom: calc(5px * var(--scale));
    font-size: calc(8px * var(--scale));
}

a{
    text-decoration: none;
    color: #000000;
}

.wrapper{
    width: calc(100% - 415px * var(--scale));
}

.main{
    width: 100%;
    background-color: #b3e9ff;
}

.info_line{
    display: flex;
    justify-content: center;
    max-height: calc(25px * var(--scale));
    background-color: #ffffff;
}

.info_line nav ul{
    display: flex;
    margin-right: calc(25px * var(--scale));
    margin-top: calc(15px * var(--scale));
}

.info_line nav ul a li{
    margin-left: calc(3px * var(--scale));
    margin-right: calc(3px * var(--scale));
    margin-bottom: calc(6px * var(--scale));
}

.info_line nav ul a li:hover{
    background-color: #000000;
    color: #ffffff;
    transition: background 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}

.info_line .mapa{
    display: flex;
    margin-top: calc(15px * var(--scale));
    margin-bottom: calc(6px * var(--scale));
}

.info_line .mapa img{
    width: calc(7px * var);
    height: calc(7px * var(--scale));
    margin-right: calc(2px * var(--scale));
    margin-top: -3px;
}

.header{
    max-height: calc(150px * var(--scale));
}

.header img[alt = "background"]{
    width: 100%;
    max-height: calc(150px * var(--scale));
}

.header img[alt = "center_picture"]{
    width: calc(140px * var(--scale));
    height: calc(60px * var(--scale));
    margin-top: calc(40px * var(--scale));
    margin-bottom: calc(5px * var(--scale));
    border-radius: calc(6px * var(--scale));
}

.section1 .pictures ul{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.section1 .pictures ul li img{
    height: calc(70px * var(--scale));
    width: calc(70px * var(--scale));
    border-radius: 50%;
    margin-bottom: calc(10px * var(--scale));
}

.section1 .pictures ul li p{
    max-width: calc(70px * var(--scale));
    overflow-wrap: break-word;
    margin-bottom: calc(10px * var(--scale));
}

.section2 .first_text{
    margin-bottom: calc(5px * var(--scale));
}

.section2 p{
    max-width: calc(230px * var(--scale));
    text-align: center;
    margin-left: 20%;
    margin-bottom: calc(5px * var(--scale));
}

.section2 img{
    width: calc(280px * var(--scale));
    height: calc(160px * var(--scale));
    margin-left: calc(50px * var(--scale));
}

.section3 img{
    height: calc(60px * var(--scale));
    width: calc(60px * var(--scale));
    border-radius: 50%;
    margin-bottom: calc(10px * var(--scale));
}

.section3 .row1, .row2{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.section3 .row1 li p, .row2 li p{
    max-width: calc(65px * var(--scale));
    padding-bottom: calc(25px * var(--scale));
}

.section4{
    text-align: center;
}

.section4 img[alt = "main_picture"]{
    width: calc(250px * var(--scale));
    height: calc(148px * var(--scale));
    margin-bottom: 5px;
}

.section4 ul{
    display: flex;
    justify-content: center;
}

.section4 ul li img{
    width: calc(40px * var(--scale));
    height: calc(40px * var(--scale));
    margin-right: 5px;
    margin-bottom: calc(5px * var(--scale));
}

footer .some_info{
    display: flex;
    justify-content: center;
}
/**/
footer{
    margin-bottom: 20px;
}

footer .some_info .info{
    margin-right: calc(7px * var(--scale));
}

footer .some_info .info p{
    max-width: calc(90px * var(--scale));
    overflow-wrap: break-word;
}

footer .some_info .info .address1{
    margin-bottom: calc(15px * var(--scale));
}

footer .some_info .info .address2{
    margin-bottom: calc(7px * var(--scale));
}

#map{
    width: calc(225px * var(--scale));
    height: calc(90px * var(--scale));
}

footer .last_line{
    text-align: center;
    margin-top: 10px;
}

footer .last_line ul{
    display: flex;
    justify-content: center;
    margin-top: 3px;
}

footer .last_line img{
    width: calc(10px * var(--scale));
    height: calc(10px * var(--scale));
    margin-right: calc(2px * var(--scale));
    margin-bottom: calc(20px * var(--scale));
}